@page "/"
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<PageTitle>Início</PageTitle>

<h1>Loja Fake</h1>
<p>Bem vindos a nossa loja fake!</p>

<div style="margin-bottom: 10px;">
    <UsuarioAutenticado />
</div>

<a href="/produtos">Cadastro de produtos</a><br />
<a href="/usuarios">Cadastro de usuários</a><br />
<a href="/carrinhos">Carrinhos de compras</a>

