@page "/"

<PageTitle>Início</PageTitle>

<h1>Loja Fake</h1>
<p>Bem vindos a nossa loja fake!</p>

<a href="/produtos">Cadastro de produtos</a><br />
<a href="/usuarios">Cadastro de usuários</a><br />
<a href="/carrinhos">Carrinhos de compras</a>