@page "/"
@using System.Security.Claims
@using FakeProduct.Models
@using FakeProduct.Services
@inject AuthenticationStateProvider authenticationStateProvider
@inject LocalStorageDataService localStorageService
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<PageTitle>Fake Store - Início</PageTitle>

<h1>Loja Fake</h1>
<p>Bem vindos a nossa loja fake!</p>

<p>Escolha uma opção no menu para iniciar</p>

@if (cotacao.Cotacao != null)
{
    <p>Escolhido cotação atual em @(cotacao.Cotacao.name): <strong>@cotacao.Cotacao.codein = @cotacao.Cotacao.ask</strong></p>
}

@if (idUser.HasValue)
{
    <button class="btn btn-primary" @onclick="DoMeuCarrinho">Meu Carrinho</button>
}

@code {
    private int? idUser = null;

    [CascadingParameter]
    public required MinhasCotacoes cotacao { get; set; }

    override protected async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        idUser = authState.GetUserId();
    }

    private async void DoMeuCarrinho()
    {
        if (!idUser.HasValue)
            return;

        await localStorageService.AtualizarListaCarrinhos();

        var cart = localStorageService.Carrinhos.FirstOrDefault(w => w.UserId == idUser.Value);
        if (cart == null)
        {
            await jsRuntime.InvokeVoidAsync("alert", "Você não possui um carrinho criado. Por favor, crie um carrinho primeiro.");
            return;
        }

        Navigation.NavigateTo($"/carrinho/{cart.Id}", false);
    }
}