@page "/usuarios"
@attribute [Authorize]
@using FakeProduct.Models
@using FakeProduct.Services
@using Microsoft.AspNetCore.Authorization
@inject FakeStoreUsersService fakeStoreService

<PageTitle>Fake Store - Cadastro de Usuários</PageTitle>

<h1>Cadastro de Usuários</h1>

<button class="btn btn-success" @onclick="ListarUsuarios">Atualizar Lista</button>
<button class="btn btn-primary" @onclick="AdicionarUsuario">Novo Usuário</button>

@if (verUsuario)
{
    <UsuarioView user="selecionadoUsuario"
                 OnCancelar="() => { verUsuario = false; StateHasChanged(); }"
                 OnSalvar="ok => { verUsuario = false; StateHasChanged(); }" />
}

@if (carregando)
{
    <p>Carregando usuários...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>e-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Usuarios)
            {
                <UsuarioListView user="u" 
                    OnEditar="() => { selecionadoUsuario = u; verUsuario = true; StateHasChanged(); }"
                    OnExcluir="() => ExcluirProduto(u)" />
            }
        </tbody>
    </table>
}


@code {
    private List<User> Usuarios = new();
    private bool verUsuario = false;
    private User? selecionadoUsuario = null;
    private bool carregando = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            ListarUsuarios();
    }

    private async void ListarUsuarios()
    {
        try
        {
            carregando = true;
            StateHasChanged();

            Usuarios = await fakeStoreService.GetUsersAsync();
        }
        finally
        { 
            carregando = false; 
            StateHasChanged(); 
        }
    }

    private void AdicionarUsuario(MouseEventArgs args)
    {
        selecionadoUsuario = null;
        verUsuario = !verUsuario;
    }

    private async void ExcluirProduto(User user)
    {
        var ok = await fakeStoreService.DeleteUserAsync(user.Id);

        if (ok)
        {
            Usuarios.Remove(user);
            StateHasChanged();
        }
    }
}