@using FakeProduct.Models
@using FakeProduct.Services
@inject LocalStorageDataService localStorageService
@inject FakeStoreCartsService fakeStoreService
@inject NavigationManager navigationManager

<tr>
    <td>@cart.Id</td>
    @if (cart.Products.Count == 0) {
        <td>Sem</td>
    }
    else {
        <td>@cart.Products.Count</td>
    }
    <td>@cart.Products.Sum(p => p.Quantity)</td>
    <td>@Total.ToString("C")</td>
    <td class="text-nowrap">
        <button class="btn btn-primary btn-sm btn-primary-ajusta" @onclick="DoVer">Ver</button>
        <button class="btn btn-danger btn-sm btn-danger-ajusta" @onclick="DoRemover">Remover</button>
    </td>
</tr>

@code {
    [Parameter]
    public Cart cart { get; set; } = new();

    [Parameter]
    public Action? OnRemover { get; set; }

    private decimal Total = 0;

    protected override void OnParametersSet()
    {
        if (cart == null)
        {
            Total = 0;
        }
        else
        {
            Total = cart.Products.Sum(p =>
            {
                var product = localStorageService.Produtos.FirstOrDefault(w => w.Id == p.ProductId);
                return product != null ? product.Price * p.Quantity : 0;
            });
        }
    }

    private async void DoRemover()
    {
        if (cart.Id <= 0)
            return;

        if (await fakeStoreService.DeleteCartAsync(cart.Id))
            OnRemover?.Invoke();
    }

    private void DoVer()
    {
        navigationManager.NavigateTo($"/carrinho/{cart.Id}", false);
    }
}
