@using FakeProduct.Models
@using FakeProduct.Services
@inject FakeStoreUsersService fakeStoreService;

<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="row formStyle p-0">
        <div class="col-12 col-md-12 p-4">
            <EditForm Model="user" OnValidSubmit="Salvar">
                <DataAnnotationsValidator />
                <div class="mb-6">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" @bind="user.Username" />
                    <ValidationMessage For="@(() => user.Username)" />
                </div>
                <div class="mb-6">
                    <label class="form-label" for="email">e-mail</label>
                    <input class="form-control" type="email" id="email" @bind="user.Email" />
                    <ValidationMessage For="@(() => user.Email)" />
                </div>
                <div class="mb-6">
                    <label class="form-label" for="password">Senha</label>
                    <input class="form-control" type="password" id="password" @bind="user.Password" />
                    <ValidationMessage For="@(() => user.Password)" />
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User user { get; set; } = new();

    [Parameter]
    public Action? OnCancelar { get; set; }

    [Parameter]
    public Action<bool>? OnSalvar { get; set; }

    protected override void OnParametersSet()
    {
        if (user == null)
        {
            user = new User() { Id = 0 };
        }
    }

    private void Cancelar()
    {
        OnCancelar?.Invoke();
    }

    private async Task Salvar()
    {
        if (user.Id == 0)
        {
            var result = await fakeStoreService.PostUserAsync(user);
            OnSalvar?.Invoke(result != null);
        }
        else
        {
            var result = await fakeStoreService.PutUserAsync(user);
            OnSalvar?.Invoke(result != null);
        }
    }


}
