@using FakeProduct.Services
@inject NavigationManager Navigation
@inject AuthenticationStateProvider authProvider

<AuthorizeView>
    <Authorized>
        Ola, @context.User.Identity?.Name!
        <a href="#" @onclick="DoLogout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task DoLogout()
    {
        await ((FakeStoreAuthenticationStateProvider)authProvider).RemoveAuthenticatedUser();
        Navigation.NavigateTo("/", true);
    }
}
